/* Background colors */
@include make-colors($all-colors, bg);

/* Text colors */
@include make-colors($all-colors);

/* Border colors */
@include make-colors($all-colors, border);

/* Squares */
$squares: (
  xs: (
    4: 4,
    8: 8,
    14: 14,
    16: 16,
    18: 18,
    20: 20,
    24: 24,
    26: 26,
    28: 28,
    30: 30,
    32: 32,
    40: 40,
    48: 48,
    56: 56,
    64: 64,
    104: 104,
  ),
);
@include make-shape($squares, square);

/* Rectangles */
$rectangles: (
  xs: (
    10: 6,
    126: 36,
    140: 40,
  ),
);
@include make-shape($rectangles);

/* Heights */
$heights: 8, 16, 24, 26, 40, 48, 50, 52, 56, 60, 64;
@each $height in $heights {
  .h-#{$height} {
    height: #{$height}px;
  }
}

/* Border radiuses */
$radiuses: 8, 16, 24;
@each $radius in $radiuses {
  .br-#{$radius} {
    border-radius: #{$radius}px;
  }
}

/* Container */
.container-main {
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: map-get($breakpoints, lg)) {
    padding-left: 112px;
    padding-right: 112px;
  }
}

/* Buttons */
.btn {
  @extend .animate;
  @extend .hover-darken;
  @extend .active-darken;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  padding: 0 24px;

  // Types
  &-primary {
    @extend .color-white;
    @extend .bg-radical;
  }

  &-secondary {
    @extend .color-white;
    @extend .bg-azure;
  }

  &-light {
    @extend .color-cloud;
    @extend .bg-white;
    @extend .border;
    @extend .border-haze;
  }

  &-light-blue {
    @extend .color-azure;
    @extend .bg-white;
    @extend .border;
    @extend .border-azure;
  }

  &-white {
    @extend .color-cloud;
    @extend .bg-white;
  }

  &-blue {
    @extend .color-white;
    @extend .bg-dodger;
  }

  &-dark {
    @extend .color-white;
    @extend .bg-cloud;
  }

  // Sizes
  &-small {
    @extend .fs-14;
    @extend .lh-16;
    height: 40px;
  }

  &-medium {
    @extend .fs-16;
    @extend .lh-20;
    height: 48px;
  }

  &-big {
    @extend .fs-20;
    @extend .lh-24;
    height: 56px;
  }

  &-wide {
    padding: 0 36px;
  }

  // Border radiuses
  &-br-small {
    border-radius: 8px;
  }

  &-br-medium {
    border-radius: 16px;
  }

  &-br-big {
    border-radius: 24px;
  }
}

// Tags
.tag {
  &-light {
    @extend .bg-white;
    @extend .border;
    @extend .border-haze;
    @extend .fs-14;
    @extend .lh-20;
    @extend .fw-400;
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 16px;
    border-radius: 4px;
  }
}

// Hamburger toggler button
.hamburger {
  display: inline-block;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active.hamburger-hover-no:hover,
.hamburger-hover-no:hover {
  opacity: 1;
}

.hamburger-box {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  @extend .bg-rhino;
  width: 18px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
  background-color: inherit;
}
.hamburger-inner::before {
  top: -6px;
}
.hamburger-inner::after {
  bottom: -6px;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  height: 2px;
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger-border {
  display: inline-flex;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 9px 11px;
}

.hamburger-border.hamburger.is-active .hamburger-inner,
.hamburger-border.hamburger.is-active .hamburger-inner::before,
.hamburger-border.hamburger.is-active .hamburger-inner::after,
.hamburger-border .hamburger-inner:before,
.hamburger-border .hamburger-inner:after,
.hamburger-border .hamburger-inner {
  background-color: #fff;
}

// Swipe up button
.swipe_up {
  @extend .animate;
  @extend .hover-fade;
  @extend .active-fade;
  @extend .border;
  @extend .border-catskill-white;
  @extend .radius-50;
  @extend .p-2;
  position: fixed;
  z-index: 10;
  right: 24px;
  bottom: -100px;

  &.show {
    bottom: 96px;
  }
}

/* Links */
.link {
  @extend .animate;
  @extend .hover-fade;
  @extend .active-fade;
  display: inline-flex;
  cursor: pointer;

  // Types
  &-primary {
    @extend .color-cloud;
  }

  &-secondary {
    @extend .color-rhino;
  }

  &-red {
    @extend .color-radical;
  }

  &-blue {
    @extend .color-dodger;
  }

  // Sizes
  &-small {
    @extend .fs-14;
    @extend .lh-20;
  }

  &-medium {
    @extend .fs-16;
    @extend .lh-24;
  }
}

// Breadcrumb
.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;

  @media (min-width: map-get($breakpoints, lg)) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  &-prev {
    @extend .color-bali;
    @extend .fs-lg-18;
    @extend .fs-14;
    @extend .lh-lg-24;
    @extend .lh-20;
    @extend .fw-400;
  }

  &-current {
    @extend .color-rhino;
    @extend .fs-lg-20;
    @extend .fs-16;
    @extend .lh-lg-28;
    @extend .lh-24;
    @extend .fw-500;
  }

  > a {
    @extend .animate;
    @extend .hover-fade;
    @extend .active-fade;
  }
}

// Dropdown
.dropdown {
  position: relative;

  &:hover > .dropdown-menu {
    @extend .open;
  }

  &-lang {
    .dropdown-menu {
      left: -12px;
      min-width: unset;
    }
  }

  &-pricing {
    .dropdown-menu {
      flex-direction: row;
      align-items: center;
    }
  }

  &-btn {
    display: inline-flex;
    align-items: center;
    padding-bottom: 17px;
    margin-bottom: -17px;
  }

  &-menu {
    @extend .animate;
    @extend .slide-down;
    @extend .bg-white;
    position: absolute;
    display: none; // Avoid being shown before page is loaded
    flex-direction: column;
    border-radius: 8px;
    min-width: 120px;
    padding: 16px 24px;
    top: calc(100% + 16px);
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 1;

    > a {
      display: block;
      white-space: nowrap;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}

// Form group
.form_group {
  &.invalid {
    > input,
    > textarea {
      @extend .border-radical;
    }

    > small {
      display: block;
    }
  }

  > label {
    @extend .fs-12;
    @extend .lh-16;
    @extend .fw-400;
    display: block;
    margin-bottom: 8px;
  }

  > input,
  > textarea {
    @extend .animate;
    @extend .bg-lilac;
    @extend .border;
    @extend .border-catskill-white;
    @extend .fs-16;
    @extend .lh-24;
    @extend .fw-500;
    border-radius: 8px;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;

    &:focus {
      @extend .border-dodger;
    }

    &::placeholder {
      @extend .fw-400;
      @extend .color-bali;
    }
  }

  > textarea {
    padding: 14px 16px;
    min-height: 108px;
    min-width: 100%;
    max-width: 100%;
  }

  > small {
    @extend .color-radical;
    @extend .fs-12;
    @extend .lh-16;
    @extend .fw-400;
    margin-top: 8px;
    display: none;
  }
}

// Custom checkbox
.checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:not(:checked):hover ~ .checkbox-mark {
      @extend .bg-alto;
    }

    &:checked ~ .checkbox-mark {
      @extend .bg-dodger;
      @extend .border-dodger;

      &:after {
        display: block;
      }
    }
  }

  &-mark {
    @extend .bg-white;
    @extend .border;
    @extend .border-alto;
    @extend .animate;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px;

    &:after {
      @extend .border-white; // checkmark color
      content: '';
      position: absolute;
      display: none;
      left: 6px;
      top: 3px;
      width: 6px;
      height: 10px;
      border-style: solid;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

// Custom radio button
.radio {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:not(:checked):hover ~ .radio-mark {
      @extend .bg-alto;
    }

    &:checked ~ .radio-mark {
      &:after {
        display: block;
      }
    }
  }

  &-mark {
    @extend .bg-white;
    @extend .border;
    @extend .border-sundown;
    @extend .animate;
    @extend .radius-50;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;

    &:after {
      @extend .bg-brink;
      @extend .radius-50;
      content: '';
      display: none;
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

// Animations
@-webkit-keyframes bg-shake {
  50% {
    background-position: center;
  }
}
@keyframes bg-shake {
  50% {
    background-position: center;
  }
}

/* RESPONSIVE */
@media (min-width: map-get($breakpoints, lg)) {
  /* Rectangles */
  $rectangles: (
    lg: (
      154: 44,
    ),
  );
  @include make-shape($rectangles);

  /* Heights */
  $heights: 8, 16, 24, 26, 40, 48, 50, 52, 56, 60, 64;
  @each $height in $heights {
    .h-lg-#{$height} {
      height: #{$height}px;
    }
  }
}

.animate_slide {
  position: relative;
  overflow: hidden;
  z-index: 0;
  --i: 0;

  &::before {
    @extend .animate;
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% / var(--total));
    left: calc(var(--i) * (100% / var(--total)));
    width: calc(100% / var(--total));
    left: calc(var(--i) * (100% / var(--total)));
    top: 4px;
    height: calc(100% - 8px);
    border-radius: 24px;
  }

  &-link {
    @extend .animate;
    min-width: calc(100% / var(--total));
    position: relative;
    float: left;
    text-align: center;
  }

  &-pricing {
    &::before {
      @extend .bg-azure;
    }

    &--types {
      &::before {
        width: calc(100% / var(--total) - 8px + 4px * var(--i));
        left: calc(var(--i) * (100% / var(--total)) + 4px - 4px * var(--i));
      }
    }
  }
}

// Image state before being loaded
.lazy {
  width: 100%;
  content: url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
  min-height: 400px;

  &-solid {
    content: '';
    min-height: auto;
  }
}

/* RESPONSIVE */
@media (min-width: map-get($breakpoints, lg)) {
  /* Squares */
  $squares: (
    lg: (
      24: 24,
      56: 56,
    ),
  );
  @include make-shape($squares, square);
}
