$breakpoints: (
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1440px,
);

$h-header-lg: 97px;
$h-header: 72px;

:root {
  --white: #ffffff;
  --rhino: #2e3a59;
  --dodger: #3366ff;
  --selago: #f8f8fe;
  --catskill: #edf1f7;
  --catskill-white: #e4e9f2;
  --haze: #c5cee0;
  --cloud: #222b45;
  --radical: #ff3d71;
  --cosmos: #ffd6d9;
  --alabaster: #f8f8f8;
  --azure: #0095ff;
  --lilac: #f7f9fc;
  --bali: #8f9bb3;
  --alto: #e0e0e0;
  --chablis: #fff2f2;
  --seashell: #fff6ee;
  --sandy: #ffeccc;
  --gray: #888888;
  --sundown: #ffa8b4;
  --brink: #ff708d;
  --pippin: #ffe2df;
  --cornflower: #705df2;
  --chateau: #9aa2ab;
}

// Color names: https://chir.ag/projects/name-that-color
$all-colors: (
  white: var(--white),
  rhino: var(--rhino),
  dodger: var(--dodger),
  selago: var(--selago),
  catskill: var(--catskill),
  catskill-white: var(--catskill-white),
  haze: var(--haze),
  cloud: var(--cloud),
  radical: var(--radical),
  cosmos: var(--cosmos),
  alabaster: var(--alabaster),
  azure: var(--azure),
  lilac: var(--lilac),
  bali: var(--bali),
  alto: var(--alto),
  chablis: var(--chablis),
  seashell: var(--seashell),
  sandy: var(--sandy),
  gray: var(--gray),
  sundown: var(--sundown),
  brink: var(--brink),
  pippin: var(--pippin),
  cornflower: var(--cornflower),
  chateau: var(--chateau),
);
